@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.nav {
  max-width: 295px;
  height: 1024px;
  left: 0;
  top: 0;
  background: #20B887;
}

.nav_container {
  display: grid;
  row-gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #fff;
  padding: 150px 0 0 0;
}

.nav_container a {
  text-decoration: none;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.nav_container a.active {
  background: #F9FBFF;
  color: #20B887;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: -30px;
}

.logo_container {
  display: grid;
  grid-auto-flow: column;
  padding: 30px;
  align-items: center;
  column-gap: 20px;
}

.level_title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #6FF3C8;
}

.btn_round:focus {
  outline: none;
}

.btn_round {
  cursor: pointer;
  width: 54px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  border-radius: 50%;
}

.btn_round.add,
.btn_round.close {
  background-image: url("./img/icon_add.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: all .2s linear;
}

.btn_round.close {
  transform: rotate(45deg);
}

.app_wraper {
  display: grid;
  grid-template-columns: 350px auto;
}

.label_title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.53);
}

.add_word-container input {
  padding: 11px 32px;
}

.add_word-container>div {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 20px
}

.add_word-container {
  margin-top: 50px;
}

.check {
  background: #1AAD7E;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
}

.library-container>div>div {
  padding: 15px;
  text-align: center;
}

.library-container {
  background: rgba(242, 246, 254, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.library-container>div:not(.library-header)>div:not(:last-child):after {
  content: '';
  position: absolute;
  right: 0;
  top: 20px;
  width: 3px;
  background: rgba(242, 246, 254, 0.46);
  /* border: 1px solid rgba(0, 0, 0, 0.08); */
  height: 100%;
}

.library-container>div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  column-gap: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #036344;
}

.library-header>div {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #992E00;
}

.library-header>div:after {
  content: '';
  position: absolute;
  width: 80%;
  height: 16px;
  left: 10%;
  bottom: 8px;
  background: rgba(242, 108, 94, 0.09);
}

.score {
  z-index: 4;
  position: absolute;
  right: 60px;
  top: 20px;
  color: green;
}

.add_word-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 20px;
  align-items: center;
}

.page-container {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-auto-flow: row;
  align-content: flex-start;
  row-gap: 60px;
}

.learn_container {
  display: grid;
  row-gap: 60px;
  position: relative;
  background: rgba(242, 246, 254, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 60px 120px;
}

.percentage {
  position: absolute;
  background: #F26C5E;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  top: -15px;
  left: -15px;
  padding: 4px 15px;
}

.word_translation {
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  color: #00402B;
}

.word {
  position: relative;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #1AAD7E;
}

.description_label {
  top: -23px;
  left: 0;
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.52);
}

.learn_wrapper {
  display: grid;
  align-items: center;
  align-content: start;
  margin-top: 117px;
  justify-content: center;
  row-gap: 30px;
}

.btn_next {
  justify-self: end;
  padding: 4px 40px;
  color: #fff;
  background: #0C9267;
}

.word_container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
}

.btn_repeat {
  background: #0C9267;
  color: white;
  padding: 10px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  font-size: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.mode_container>div:first-child {
  display: grid;
  align-content: space-between;
  max-width: 280px;
}

.mode_container:hover {
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
}

.mode_container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 25px 55px 55px 55px;
}

.easy_mode {
  background: rgba(215, 228, 255, 0.46);
}

.hard_mode {
  background: rgba(176, 222, 255, 0.46);
}

.mode_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #036344;
}

.mode_description {
  font-size: 24px;
  line-height: 28px;
}

.easy_mode .mode_description {
  color: #1B81DF;
}

.hard_mode .mode_description {
  color: #1B46DF;
}

.mode_page {
  display: grid;
  align-items: start;
  margin: 130px auto;
}

.game_page {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(242, 246, 254);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.btn_exit {
  position: fixed;
  width: 176px;
  height: 48px;
  left: 42px;
  top: 32px;
  background: #036344;
  border: none;
  color: #fff;
  font-size: 24px;
  line-height: 42px;
}

.correct_title {
  font-size: 24px;
  line-height: 28px;
  color: #006A31;
  margin-right: 15px;
}

.error_title {
  font-size: 24px;
  line-height: 28px;
  color: #680000;
}

.points_block {
  position: absolute;
  left: 300px;
  top: 40px;
}

.mode_page a {
  text-decoration: none;
}